<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/navigation}"></div>

    <!--    <input type="hidden" name="routeId" id="routeId" th:value="${route.id}">-->
    <div class="details-main">
        <section class="route-info text-center">
            <h4 th:text="${route.name}" id="track-name"></h4>
            <p>Total distance: <span id="totalDistance"></span> km</p>
            <p>Author name: <span th:text="${route.authorName}" id="authorName"></span></p>
            <h4>Difficulty Level (1-3):</h4>
            <div class="level">
                <p th:style="${route.level == T(bg.softuni.pathfinder.model.enums.Level).BEGINNER} ? 'visibility: visible' : 'visibility: hidden'">
                    <img class="level-img" src="/images/difficulty-level.png" alt=""></p>
                <p th:style="${route.level == T(bg.softuni.pathfinder.model.enums.Level).INTERMEDIATE} ? 'visibility: visible' : 'visibility: hidden'">
                    <img class="level-img" src="/images/difficulty-level.png" alt=""></p>
                <p th:style="${route.level == T(bg.softuni.pathfinder.model.enums.Level).ADVANCED} ? 'visibility: visible' : 'visibility: hidden'">
                    <img class="level-img" src="/images/difficulty-level.png" alt=""></p>
            </div>
            <div>
                <h4>Choose picture</h4>
                <form th:action="@{/routes/upload-picture}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="routeId" th:value="${route.id}">
                    <div class="form-group">
                        <label>
                            <input type="text" name="title">
                        </label>
                    </div>
                    <div class="image-upload">
                        <label for="picture">
                            <img src="/images/add-img.png" alt=""/>
                        </label>
                        <input style="display: none" id="picture" type="file" name="picture"/>
                    </div>
                    <div>
                        <div>
                            <label for="isPrimary"> Is Primary</label>
                        </div>
                        <div>
                            <input id="isPrimary" type="checkbox" name="isPrimary" th:value="true">
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <button class="btn-primary rounded">Upload Picture</button>
                    </div>
                </form>
            </div>
        </section>
        <section id="map">
        </section>
        <section id="video">
            <iframe id="frame" th:src="'https://www.youtube.com/embed/' + ${route.videoUrl}">
            </iframe>
        </section>
        <section class="route-description text-center">
            <h4>Description:</h4>
            <p th:text="${route.description}" id="route-description">Description: </p>
        </section>
        <section th:if="${#lists.size(route.pictures) == 0}" class="gallery">
            <img class="rounded" src="/images/pic4.jpg" height="100%" alt="">
            <img class="rounded" src="/images/pic1.jpg" height="100%" alt="">
        </section>
        <section th:unless="${#lists.size(route.pictures) == 0}" class="gallery">
            <img class="rounded"
                 th:each="picture : ${route.pictures}"
                 th:src="${#strings.contains(picture.src, 'cloudinary') ? picture.src : '\images\' + picture.src}"
                 th:alt="${picture.alt}"
                 height="100%">
        </section>

        <section class="comments">
            <h1>Comments</h1>
            <div th:unless="${#lists.size(route.comments) == 0}" class="comments">
                <div class="form-group" th:each="comment : ${route.comments}">
                    <h4 th:text="${comment.content}">Leave a comment</h4>
                    <label th:text="${comment.authorName == null ? 'Anonymous' : comment.authorName}">Message</label>
                    <div>
                        <form th:unless="${comment.approved}" th:method="PATCH" th:action="@{/comments/{id}/approve/{routeId}(id=${comment.id}, routeId=${route.id})}">
                            <button class="btn btn-success" type="submit" th:text="'Approve'"></button>
                        </form>
                        <form th:method="DELETE" th:action="@{/comments/{id}/{routeId}(id=${comment.id}, routeId=${route.id})}">
                            <button class="btn btn-danger" type="submit" th:text="'Delete'"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <!-- Comments submission -->
                <form id="commentForm" th:method="POST"
                      th:action="@{/comments/create}">
                    <input type="hidden" name="routeId" th:value="${route.id}">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>
                        <textarea name="textContent"
                                  id="message"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  style="background-color: white;"></textarea>
                        <small id="messageError" class="invalid-feedback">
                            Message should be at least 10 characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                    </div>
                </form>
                <!-- Comments submission -->
            </div>


            <!-- All comments section -->
            <div>

                <span id="commentCtnr"><!-- Comments section, filled in by script --></span>
            </div>
            <!-- EO: All comments section -->
        </section>
        <p style="visibility: hidden">GPX Download: <a id="gpxDownload"></a></p>
    </div>
    <!-- Scripts: track and comments
    <script th:src="@{/js/track.js}"></script>
    <script th:src="@{/js/comments.js}"></script>
    -->
</div>
<div th:replace="~{fragments/footer}"></div>

<script>
    let coordinates;
const routeId = document.getElementById('routeId').value
let midCoordinates;

fetch(`http://localhost:8080/routes/coordinates/${routeId}`)
    .then(res => res.json())
    .then(res => {
        console.log(res);
        coordinates = res;
        midCoordinates = coordinates[Math.floor(coordinates.length / 2)]
        console.log(midCoordinates);

        mapboxgl.accessToken = 'pk.eyJ1IjoiZ29zcG9kaW5vdmdhbGluOTYiLCJhIjoiY2xudXd0enliMGd6MjJpbnM5YnE0dGNnNCJ9.7kxRpuM2zse_V7LEAqGf-A';
        const map = new mapboxgl.Map({
            container: 'map',
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/streets-v12',
            center: midCoordinates,
            zoom: 11
        });

        map.on('load', () => {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': coordinates
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
    })
</script>
</body>
</html>
